.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.container-fluid {
  max-width: 100%;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 932px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 708px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 30px;
    max-width: 100%;
  }
}
@media (max-width: 400px) {
}
