* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  color: #000;
  --inter: 'Jakarta', sans-serif;
  --jakarta: 'Jakarta', sans-serif;
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
.title {
  font-family: var(--jakarta);
  color: #000000;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 1.2;
}
.title-thin {
  font-family: var(--jakarta);
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  line-height: 1.5;
}
.text {
  font-family: var(--jakarta);
  color: #000000;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.text strong {
  font-weight: 700;
}
.btn {
  font-family: var(--inter);
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border: 0.1rem solid #ffffff;
  border-radius: 10rem;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.btn-white {
  border-color: #ffffff;
  color: #0c1313;
  background: #ffffff;
}
.btn-black {
  border-color: #000000;
  color: #ffffff;
  background: #000000;
}
.btn-transparent {
  border-color: #ffffff;
  color: #ffffff;
  background: transparent;
}
.newsletter-faq {
  padding: 8rem 0;
}
.newsletter-faq .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25rem;
}
.newsletter-faq .title {
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 700;
}
.newsletter-faq .col-newsletter {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.newsletter-faq .form-newsletter {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #000000;
}
.newsletter-faq .form-newsletter-input {
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.6rem;
  border: none;
  width: 100%;
}
.newsletter-faq .form-newsletter-btn:hover {
  cursor: pointer;
}
.newsletter-faq .terms {
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.26;
  color: #000000;
}
.newsletter-faq .social-list {
  display: flex;
  align-items: center;
}
.newsletter-faq .social-list-link {
  padding: 1rem;
}
.newsletter-faq .accordion {
  position: relative;
  z-index: 15;
  padding: 2rem 0 1rem 0;
}
.newsletter-faq .accordion .question {
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  gap: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid black;
  padding-bottom: 1rem;
}
.accordion .question img {
  height: 2rem;
  width: 2rem;
  transition: 0.3s all ease-in-out;
}
.accordion.open .question img {
  transform: rotate(45deg);
}
.accordion .question:hover {
  cursor: pointer;
}
.accordion .answer .content {
  padding: 2rem 0;
}
.accordion .answer p {
  color: var(--second-1);
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0;
}
.accordion .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.accordion .answer.open {
  max-height: 800px;
}
