* {
  box-sizing: border-box !important;
}
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box !important;
  color: #000;
  --inter: 'Jakarta', sans-serif;
  --jakarta: 'Jakarta', sans-serif;
}
/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
*/
body {
  position: relative;
}
.title {
  font-family: var(--jakarta);
  color: #000000;
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 1.2;
}
.title-thin {
  font-family: var(--jakarta);
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  line-height: 1.5;
}
.text {
  font-family: var(--jakarta);
  color: #000000;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.text strong {
  font-weight: 700;
}
.btn {
  font-family: var(--inter);
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 600;
  padding: 1.2rem 3.2rem;
  border: 0.1rem solid #ffffff;
  border-radius: 10rem;
  width: fit-content;
}
.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}
.btn-white {
  border-color: #ffffff;
  color: #0c1313;
  background: #ffffff;
}
.btn-black {
  border-color: #000000;
  color: #ffffff;
  background: #000000;
}
.btn-transparent {
  border-color: #ffffff;
  color: #ffffff;
  background: transparent;
}
.seller-partner {
  padding: 12rem 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.seller-partner .seller-partner-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.5rem;
}
.seller-partner.selected-seller [data-seller-partner='seller'],
.seller-partner.selected-partner [data-seller-partner='partner'] {
  background-color: #ffffff;
  color: #000000;
}
.seller-partner.selected-seller {
  background-image: url('../img/revendedor.png');
}
.seller-partner.selected-partner {
  background-image: url('../img/parceiro.png');
}
.seller-partner .seller-partner-content {
  width: 58rem;
}
.seller-partner .title {
  color: #ffffff;
  margin-bottom: 3rem;
}
.seller-partner .text {
  color: #ffffff;
}
.seller-partner .seller-partner-list {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.seller-partner .seller-partner-item {
  display: grid;
  grid-template-columns: 2.9rem 1fr;
  gap: 1.5rem;
}
.seller-partner .seller-partner-item .text {
  margin-bottom: 0;
}
.seller-partner .seller-partner-container-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.seller-partner .seller-partner-icon {
  max-width: 100%;
  margin-top: 0.7rem;
}
