.home .new-collection {
  padding: 8rem 0;
}
.home .new-collection .title-thin {
  text-align: center;
  margin-bottom: 1rem;
}
.home .new-collection .title {
  text-align: center;
  margin-bottom: 4rem;
}
.home .new-collection .swiper-new-collection {
  display: grid;
  grid-template-columns: 6rem 1fr 6rem;
  align-items: center;
}
.home .new-collection .swiper-new-collection .swiper {
  width: 100%;
}
.home .new-collection .swiper-new-collection .button-next,
.home .new-collection .swiper-new-collection .button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
}
.home .new-collection .swiper-new-collection .button-next:hover,
.home .new-collection .swiper-new-collection .button-prev:hover {
  cursor: pointer;
}
.home .new-collection .swiper-new-collection .button-next .icon,
.home .new-collection .swiper-new-collection .button-prev .icon {
  width: 2rem;
}
.home .new-collection .swiper-new-collection .button-next .icon {
  transform: rotate(180deg);
}
