.home .who-we-are {
  padding: 8rem 0;
  background-color: #f5f5f5;
  overflow: hidden;
}
.home .who-we-are .row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 2fr);
  gap: 9rem;
}
.home .who-we-are .col-swiper {
  width: 100%;
  height: 70rem;
  position: relative;
}
.home .who-we-are .swiper-who-we-are {
  position: absolute;
  height: 100%;
  width: 120rem;
  right: 0;
  top: 0;
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  align-items: center;
}
.home .who-we-are .swiper-who-we-are .swiper {
  direction: rtl;
  width: 100%;
}
.home .who-we-are .swiper-who-we-are .swiper-slide {
  height: 70rem;
  width: 60rem;
}
.home .who-we-are .swiper-who-we-are .thumb {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 3rem;
  padding: 5rem;
}
.home .who-we-are .swiper-who-we-are .thumb-3 {
  background-image: url('../img/quem-somos.png');
}
.home .who-we-are .swiper-who-we-are .thumb-2 {
  background-image: url('../img/quem-somos-2.png');
}
.home .who-we-are .swiper-who-we-are .thumb-1 {
  background-image: url('../img/quem-somos-3.png');
}
.home .who-we-are .swiper-who-we-are .title-swiper-who-we-are {
  font-family: var(--jakarta);
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  font-size: 4.5rem;
  line-height: 1.2;
}
.home .who-we-are .swiper-who-we-are .button-next,
.home .who-we-are .swiper-who-we-are .button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 0.8rem;
  height: 5rem;
  width: 5rem;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  z-index: 3;
}
.home .who-we-are .swiper-who-we-are .button-next:hover,
.home .who-we-are .swiper-who-we-are .button-prev:hover {
  cursor: pointer;
}
.home .who-we-are .swiper-who-we-are .button-next {
  margin-left: 2rem;
}
.home .who-we-are .swiper-who-we-are .button-prev {
  margin-left: -2rem;
}
.home .who-we-are .swiper-who-we-are .button-next .icon,
.home .who-we-are .swiper-who-we-are .button-prev .icon {
  width: 1.1rem;
}
.home .who-we-are .swiper-who-we-are .button-next .icon {
  transform: rotate(180deg);
}
.home .who-we-are .col-text .title {
  margin-bottom: 3rem;
}
.home .who-we-are .col-text .btn {
  align-self: flex-start;
}
@media (max-width: 1400px) {
  .home .who-we-are {
    padding: 5rem 0;
  }
  .home .who-we-are .row {
    gap: 3rem;
  }
  .home .who-we-are .swiper-who-we-are {
    width: 100rem;
  }
  .home .who-we-are .col-swiper {
    height: 50rem;
  }
  .home .who-we-are .swiper-who-we-are .swiper-slide {
    height: 50rem;
    width: 50rem;
  }
  .home .who-we-are .swiper-who-we-are .title-swiper-who-we-are {
    font-size: 3.5rem;
  }
}
@media (max-width: 1200px) {
  .home .who-we-are .swiper-who-we-are {
    width: 80rem;
  }
  .home .who-we-are .col-swiper {
    height: 40rem;
  }
  .home .who-we-are .swiper-who-we-are .swiper-slide {
    height: 40rem;
    width: 40rem;
  }
  .home .who-we-are .swiper-who-we-are .title-swiper-who-we-are {
    font-size: 2.8rem;
  }
}
@media (max-width: 992px) {
  .home .who-we-are {
    padding: 3rem 0;
  }
  .home .who-we-are .swiper-who-we-are {
    width: 60rem;
  }
  .home .who-we-are .row {
    gap: 0rem;
  }
  .home .who-we-are .col-swiper {
    height: 40rem;
  }
  .home .who-we-are .swiper-who-we-are .swiper-slide {
    height: 40rem;
    width: 30rem;
  }
  .home .who-we-are .swiper-who-we-are .button-next,
  .home .who-we-are .swiper-who-we-are .button-prev {
    height: 4rem;
    width: 4rem;
  }
  .home .who-we-are .swiper-who-we-are .thumb {
    padding: 2rem;
  }
  .home .who-we-are .swiper-who-we-are .title-swiper-who-we-are {
    font-size: 2rem;
  }
  .home .who-we-are .col-text .title {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .home .who-we-are .row {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .home .who-we-are .col-swiper {
    order: 2;
  }
  .home .who-we-are .swiper-who-we-are {
    position: relative;
    grid-template-columns: 3rem 1fr 3rem;
  }
  .home .who-we-are .swiper-who-we-are .button-next {
    margin-left: 0rem;
  }
  .home .who-we-are .swiper-who-we-are .button-prev {
    margin-left: -1rem;
  }
  .home .who-we-are .swiper-who-we-are {
    width: 100%;
  }
  .home .who-we-are .col-swiper {
    height: 30rem;
  }
  .home .who-we-are .swiper-who-we-are .swiper-slide {
    height: 30rem;
  }
  .home .who-we-are .swiper-who-we-are .swiper-slide {
    height: 30rem;
    width: 100%;
  }
  .home .who-we-are .swiper-who-we-are .title-swiper-who-we-are {
    font-size: 2rem;
  }
}
