.home .by-style {
  padding: 8rem 0;
}
.home .by-style .row-title .title-thin {
  text-align: center;
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.home .by-style .row-title .title {
  text-align: center;
  margin-bottom: 4rem;
}
.home .by-style .row-content {
  background: url('../img/por-estilo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 23rem 0;
  gap: 3rem;
}
.home .by-style .row-content .btn {
  width: 30rem;
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 1400px) {
  .home .by-style {
    padding: 5rem 0;
  }
  .home .by-style .row-content {
    padding: 15rem 0;
  }
  .home .by-style .row-title .title {
    margin-bottom: 3rem;
  }
  .home .by-style .row-content .btn {
    width: 26rem;
    font-size: 1.6rem;
  }
}
@media (max-width: 1200px) {
  .home .by-style .row-content .btn {
    width: 20rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 992px) {
  .home .by-style {
    padding: 3rem 0;
  }
}
