.list .gift {
  padding: 8rem 0;
}
.list .gift .title {
  margin-bottom: 4rem;
}
.list .gift .swiper-gift {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.list .gift .swiper-gift .swiper {
  width: 100%;
  grid-column: 2/3;
}
.list .gift .swiper-gift .swiper-slide {
  padding: 1rem;
}

.list .gift .swiper-gift .button-next,
.list .gift .swiper-gift .button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
.list .gift .swiper-gift .button-next:hover,
.list .gift .swiper-gift .button-prev:hover {
  cursor: pointer;
}
.list .gift .swiper-gift .button-next .icon,
.list .gift .swiper-gift .button-prev .icon {
  width: 1rem;
}
.list .gift .swiper-gift .button-next .icon {
  transform: rotate(180deg); 
}
.list .gift .swiper-gift .swiper-button-lock {
  display: none;
}
@media (max-width: 1400px) {
  .list .gift {
    padding: 5rem 0;
  }
  .list .gift .title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 992px) {
  .list .gift {
    padding: 3rem 0;
  }
}