.our-collection {
  padding: 8rem 0;
}
.our-collection .title-thin {
  text-align: center;
  margin-bottom: 1rem;
}
.our-collection .title {
  text-align: center;
  margin-bottom: 4rem;
}
.our-collection .cards-our-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.our-collection .card-our-collection {
  position: relative;
  height: 23rem;
  padding: 2.5rem;
  display: flex;
  align-items: flex-end;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.our-collection .card-our-collection::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(195deg, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.8));
  z-index: 1;
}
.our-collection .card-title-our-collection {
  font-family: var(--jakarta);
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.2;
  z-index: 3;
}
.our-collection .card-our-collection.card-female {
  background-image: url('../img/colecoes-1.png');
  grid-column: 1/3;
}
.our-collection .card-our-collection.card-bamboo {
  background-image: url('../img/colecoes-2.png');
}
.our-collection .card-our-collection.card-minimalist {
  background-image: url('../img/colecoes-3.png');
}
.our-collection .card-our-collection.card-polarized {
  background-image: url('../img/colecoes-4.png');
}
.our-collection .card-our-collection.card-fashionista {
  background-image: url('../img/colecoes-5.png');
}
.our-collection .card-our-collection.card-male {
  background-image: url('../img/colecoes-6.png');
  grid-column: 3/5;
}
@media (max-width: 1400px) {
  .our-collection {
    padding: 5rem 0;
  }
  .our-collection .card-our-collection {
    height: 19rem;
  }
}
@media (max-width: 992px) {
  .our-collection {
    padding: 3rem 0;
  }
  /* .our-collection .card-our-collection.card-female,
  .our-collection .card-our-collection.card-male {
    grid-column: auto;
  } */
  .our-collection .card-title-our-collection {
    font-size: 1.6rem;
  }
  .our-collection .card-our-collection {
    position: relative;

    padding: 1.5rem;
  }
  .our-collection .cards-our-collection {
    gap: 1rem;
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

@media (max-width: 768px) {
  .our-collection .card-our-collection.card-female,
  .our-collection .card-our-collection.card-male {
    grid-column: auto;
  }
  .our-collection .cards-our-collection {
    grid-template-columns: repeat(3, 1fr);
  }
}
