.product .notes {
  padding: 8rem 0;
}
.product .notes .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.product .notes .box {
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .notes .box .icon {
  width: 4.8rem;
  margin-bottom: 2rem;
}
.product .notes .note-title {
  font-family: var(--jakarta);
  color: #000000;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-align: center;
}
.product .notes .note-text {
  font-family: var(--jakarta);
  color: #808080;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: center;
}
@media (max-width: 1400px) {
  .product .notes {
    padding: 5rem 0;
  }
  .product .notes .box .icon {
    width: 3.8rem;
  }
  .product .notes .note-title {
    font-size: 1.8rem;
  }
  .product .notes .note-text {
    font-size: 1.4rem;
  }
}