.product .discover {
  padding: 8rem 0;
}
.product .discover .row {
  padding: 3.5rem 5rem;
  background: #ffffff;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
}
.product .discover .title-medium {
  text-align: center;
}
.product .discover .title-detail::before {
  transform: translateX(-50%);
  left: 50%;
  background: #d9d9d9;
}
.product .discover .swiper-discover {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.product .discover .swiper-discover .swiper {
  width: 100%;
  grid-column: 2/3;
}
.product .discover .swiper-discover .swiper-slide {
  padding: 1rem;
}

.product .discover .swiper-discover .button-next,
.product .discover .swiper-discover .button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
}
.product .discover .swiper-discover .button-next:hover,
.product .discover .swiper-discover .button-prev:hover {
  cursor: pointer;
}
.product .discover .swiper-discover .button-next .icon,
.product .discover .swiper-discover .button-prev .icon {
  width: 1rem;
}
.product .discover .swiper-discover .button-next .icon {
  transform: rotate(180deg); 
}
.product .discover .swiper-discover .swiper-button-lock {
  display: none;
}
.product .discover .product-card-big-thumb {
  width: 100%;
}
.product .discover .product-card-big-thumb .thumb {
  width: 100%;
  height: 35rem;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.product .discover .product-card-big-thumb .thumb .photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .discover .product-card-big-thumb .product-title {
  font-family: var(--jakarta);
  font-weight: 600;
  font-size: 1.8rem;
  color: #000000;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.product .discover .score {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product .discover .score .stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product .discover .score .stars .icon {
  width: 1.6rem;
}
.product .discover .score .number {
  font-family: var(--inter);
  font-size: 1.2rem;
  font-weight: 300;
  color: #808080;
}
.product .discover .prices .method-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product .discover .prices .method-1 .price {
  font-family: var(--inter);
  font-size: 2.4rem;
  font-weight: 600;
  color: #36bdae;
}
.product .discover .prices .method-1 .description {
  font-family: var(--inter);
  font-size: 1.4rem;
  font-weight: 400;
  color: #808080;
}
.product .discover .prices .method-2 {
  font-family: var(--inter);
  font-size: 1.4rem;
  font-weight: 400;
  color: #808080;
  display: block;
  width: 17rem;
}
.product .discover .prices .method-2 .installments,
.product .discover .prices .method-2 .installment-price {
  font-weight: 700;
}
@media (max-width: 1400px) {
  .product .discover {
    padding: 5rem 0;
  }
  .product .discover .product-card-big-thumb .thumb {
    width: 100%;
    height: 26rem;
  }
}
@media (max-width: 992px) {
  .product .discover {
    padding: 3rem 0;
  }
}
@media (max-width: 768px) {
.product .discover .row {
  padding: 2rem;
}
.product .discover .product-card-big-thumb .product-title {
   font-size: 1.6rem;
}
.product .discover .score {
  gap: 0.5rem;
}
.product .discover .score .stars .icon {
  width: 1.2rem;
}
.product .discover .prices .method-1 .price {
  font-size: 2rem;
}
.product .discover .prices .method-1 .description {
  font-size: 1.2rem;
}
.product .discover .prices .method-2 {
  font-size: 1.2rem;
}
}