.product .product-details {
  padding: 8rem 0;
}
.product .product-details .row {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5rem;
  width: 100%;
}
.product .product-details .swiper-product-details {
  display: grid;
  grid-template-columns: 13rem 40rem;
  gap: 3rem;
}
.product .product-details .swiper-thumbs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  align-items: center;
}
.product .product-details .swiper-thumbs .swiper {
  height: 100%;
  width: 100%;
}
.product .product-details .swiper-thumbs .swiper-slide {
  opacity: 0.8;
  border-radius: 1rem;
  overflow: hidden;
}
.product .product-details .swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.product .product-details .swiper-thumbs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .product-details .swiper-thumbs .button-next,
.product .product-details .swiper-thumbs .button-prev {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;
}
.product .product-details .swiper-thumbs .button-prev {
  align-items: flex-end;
}
.product .product-details .swiper-thumbs .button-next {
  align-items: flex-start;
}
.product .product-details .swiper-thumbs .button-next:hover,
.product .product-details .swiper-thumbs .button-prev:hover {
  cursor: pointer;
}
.product .product-details .swiper-thumbs .button-next .icon,
.product .product-details .swiper-thumbs .button-prev .icon {
  width: 1rem;
}
.product .product-details .swiper-thumbs .button-next .icon {
  transform: rotate(-90deg);
}
.product .product-details .swiper-thumbs .button-prev .icon {
  transform: rotate(90deg);
}
.product .product-details .swiper-photos {
  width: 100%;
}
.product .product-details .swiper-photos .swiper {
  height: 65rem;
}
.product .product-details .swiper-photos .swiper-slide {
  border-radius: 1rem;
  overflow: hidden;
}
.product .product-details .swiper-photos .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .product-details .product-title-score {
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}
.product .product-details .product-title-score .title {
  font-size: 2.4rem;
}
.product .product-details .product-title-score .btn-like {
  width: 100%;
}
.product .product-details .product-title-score .score {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product .product-details .product-title-score .score .stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product .product-details .product-title-score .score .stars .icon {
  width: 1.8rem;
}
.product .product-details .product-title-score .score .number {
  font-family: var(--inter);
  font-size: 1.4rem;
  font-weight: 300;
  color: #808080;
}
.product .product-details .payment-methods {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  margin-bottom: 2.5rem;
}
.product .product-details .payment-methods .pix {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  width: 16rem;
  gap: 0.5rem 1rem;
}
.product .product-details .payment-methods .pix .price {
  font-family: var(--inter);
  font-size: 2.4rem;
  font-weight: 600;
  color: #36bdae;
}
.product .product-details .payment-methods .pix .method {
  grid-column: 2/3;
  font-family: var(--inter);
  font-size: 1.4rem;
  font-weight: 400;
  color: #808080;
}
.product .product-details .payment-methods .credit-card {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  align-items: center;
  width: 16rem;
  justify-self: flex-end;
  gap: 0.5rem 1rem;
}
.product .product-details .payment-methods .credit-card .price {
  font-family: var(--inter);
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
}
.product .product-details .payment-methods .credit-card .method {
  grid-column: 1/3;
  font-family: var(--inter);
  font-size: 1.4rem;
  font-weight: 400;
  color: #808080;
}
.product .product-details .payment-methods .credit-card .method .installments,
.product .product-details .payment-methods .credit-card .method .installment-price {
  font-weight: 700;
}
.product .product-details .payment-methods .more-methods {
  padding: 1.2rem 2.5rem;
  border: 0.2rem solid #b3b3b3;
  border-radius: 0.4rem;
  justify-self: flex-start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #808080;
}
.product .product-details .payment-methods .more-methods .icon {
  filter: var(--svg-gray);
}
.product .product-details .product-description .text {
  font-size: 1.6rem;
  line-height: 1.7;
  color: #808080;
}
.product .product-details .product-description .text .category {
  color: #000000;
}
.product .product-details .control-buttons {
  display: grid;
  grid-template-columns: auto 1fr 8rem;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.product .product-details .control-buttons .quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product .product-details .control-buttons .quantity .btn-add,
.product .product-details .control-buttons .quantity .btn-remove {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #f4f4f4;
}
.product .product-details .control-buttons .quantity .btn-add .icon,
.product .product-details .control-buttons .quantity .btn-remove .icon {
  filter: var(--svg-gray);
}
.product .product-details .control-buttons .quantity .btn-add:hover,
.product .product-details .control-buttons .quantity .btn-remove:hover {
  background: #000000;
}
.product .product-details .control-buttons .quantity .btn-add:hover .icon,
.product .product-details .control-buttons .quantity .btn-remove:hover .icon {
  filter: var(--svg-white);
}
.product .product-details .control-buttons .quantity .quantity-value {
  width: 2rem;
  display: flex;
  justify-content: center;
}
.product .product-details .control-buttons .quantity .quantity-value .number {
  text-align: center;
  font-family: var(--jakarta);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
}
.product .product-details .control-buttons .btn-buy {
  width: 100%;
  background: #00a441;
  padding: 1.5rem;
  border-radius: 1rem;
  font-family: var(--jakarta);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
}
.product .product-details .control-buttons .btn-chart {
  background: #000000;
  padding: 1rem;
  border-radius: 1rem;
}
.product .product-details .control-buttons .btn-chart .icon {
  width: 3rem;
}
.product .product-details .shipping {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.product .product-details .shipping-title-box {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  gap: 1.3rem;
}
.product .product-details .shipping-title {
  font-family: var(--jakarta);
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
}
.product .product-details .shipping-link {
  font-family: var(--jakarta);
  color: #808080;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
.product .product-details .shipping-form {
  padding: 1rem 0.5rem;
  border: 0.2rem solid #b3b3b3;
  border-radius: 0.4rem;
  display: flex;
  width: 17rem;
}
.product .product-details .shipping-form-input {
  font-family: var(--jakarta);
  border: none;
  font-size: 1.4rem;
  width: 100%;
  padding: 0.5rem 1rem;
}
.product .product-details .shipping-form .btn-search {
  color: #000000;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-left: 0.1rem solid #b3b3b3;
}
.product .product-details .btn-social-share {
  padding: 1.5rem;
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
  font-family: var(--jakarta);
}
