.seller-partner {
  padding: 12rem 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.seller-partner .seller-partner-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.5rem;
}
.seller-partner[data-seller-partner-selected='seller'] [data-seller-partner='seller'],
.seller-partner[data-seller-partner-selected='partner'] [data-seller-partner='partner'] {
  background-color: #ffffff;
  color: #000000;
}
.seller-partner[data-seller-partner-selected='seller'] {
  background-image: url('../img/revendedor.png');
}
.seller-partner[data-seller-partner-selected='partner'] {
  background-image: url('../img/parceiro.png');
}
.seller-partner[data-seller-partner-selected='partner'] .seller-content {
  display: block;
}
.seller-partner[data-seller-partner-selected='partner'] .partner-content {
  display: none;
}
.seller-partner[data-seller-partner-selected='seller'] .partner-content {
  display: block;
}
.seller-partner[data-seller-partner-selected='seller'] .seller-content {
  display: none;
}
.seller-partner .seller-partner-content {
  display: flex;
  width: 58rem;
}
.seller-partner .seller-content,
.seller-partner .partner-content {
  width: 100%;
}
.seller-partner .title {
  color: #ffffff;
  margin-bottom: 3rem;
}
.seller-partner .text {
  color: #ffffff;
}
.seller-partner .seller-partner-list {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.seller-partner .seller-partner-item {
  display: grid;
  grid-template-columns: 2.9rem 1fr;
  gap: 1.5rem;
}
.seller-partner .seller-partner-item .text {
  margin-bottom: 0;
}
.seller-partner .seller-partner-container-icon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.seller-partner .seller-partner-icon {
  max-width: 100%;
  margin-top: 0.7rem;
}
/*
modals css
*/

.modal-seller .modal-seller-container{
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: 80vh;
  align-items: center;
  position: relative;
}
.modal-seller .col-image{
  height: 100%;
  width: 100%;
  background: url('../img/contato.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.modal-seller .col-content{
  padding: 5rem;
}
.modal-seller .col-content .modal-close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.modal-seller .title{
  margin-bottom: 1rem;
}
.modal-seller .form-modal{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-seller .form-modal-label{
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
}
.modal-seller .form-modal-input{
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 0.1rem solid #000000;
}
.modal-seller .form-modal .btn{
  margin-top: 1rem;
  width: 100%;
}
.modal-partner .modal-partner-container{
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: 80vh;
  align-items: center;
  position: relative;
}
.modal-partner .col-image{
  height: 100%;
  width: 100%;
  background: url('../img/contato.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.modal-partner .col-content{
  padding: 5rem;
}
.modal-partner .col-content .modal-close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.modal-partner .title{
  margin-bottom: 1rem;
}
.modal-partner .form-modal{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal-partner .form-modal-label{
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
}
.modal-partner .form-modal-input{
  font-family: var(--jakarta);
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  padding: 1.6rem;
  border-radius: 1rem;
  border: 0.1rem solid #000000;
}
.modal-partner .form-modal .btn{
  margin-top: 1rem;
  width: 100%;
}

.modal-thanks .modal-thanks-container{
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: 80vh;
  align-items: center;
  position: relative;
}
.modal-thanks .col-image{
  height: 100%;
  width: 100%;
  background: url('../img/contato.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.modal-thanks .col-content{
  padding:5rem;
}
.modal-thanks .col-content .modal-close{
  position: absolute;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.modal-thanks .title{
  text-align: center;
  margin-bottom: 3rem;
}
.modal-thanks .text{
  text-align: center;
}
.modal-thanks .btn{
  text-align: center;
  width: 100%;
}
@media (max-width: 1400px) {
  .seller-partner {
    padding: 5rem 0;
  }
  .seller-partner .seller-partner-buttons {
    margin-bottom: 2rem;
  }
  .seller-partner .title {
    margin-bottom: 2rem;
  }
  .seller-partner .text{
    margin-bottom: 2rem;
  }
  .seller-partner .seller-partner-list {
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .modal-partner .col-content {
    padding: 3rem;
  }
  .modal-partner .text{
    font-size: 1.4rem;
  }
  .modal-partner .form-modal-input {
    font-size: 1.4rem;
    padding: 1rem;
  }
  .modal-seller .col-content{
    padding: 3rem;
  }
  .modal-seller .text{
    font-size: 1.4rem;
  }
  .modal-seller .form-modal-input {
    font-size: 1.4rem;
    padding: 1rem;
  }
  .modal-thanks .col-content{
    padding: 3rem;
  }
}